@media only screen and (max-width: 768px) {
  .container {
    height: 200px;
    width: 392px;
    background-color: #1a4848;
    display: flex;
    color: white;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 12px;
    font-size: 8px;
  }
  .con1 {
    display: flex;
    width: 250px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    min-height: 215px;
    max-height: 50vh;
    min-width: 1768px;
    max-width: 100vw;
    background-color: #1a4848;
    display: flex;
    color: white;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 32px;
  }
  .con1 {
    display: flex;
    width: 250px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}
