@media only screen and (max-width: 768px) {
  .top {
    display: flex;
    min-width: none;
    min-height: 40px;
    width: calc(1800px - (1800px - 100vw));
    max-width: 100%;
    background-color: #1a4848;
    align-items: center;
  }
  .info-section {
    display: flex;
    max-width: 80vw;
    width: 1200px;
    font-size: 2.5vh;
    max-height: 2.5vh;
    align-items: center;
    align-content: center;
  }
  .text {
    font-size: calc(1vh + 0.5vw);
    position: fixed;
    left: 10%;
    transform: translateX(-10%);
    overflow-wrap: break-word;
    color: white;
    font-weight: 200;
    white-space: normal;
    font-family: Arial, Helvetica, sans-serif;
  }
  .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 32px;
    position: fixed;
    left: 99%;
    transform: translateX(-99%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .btn-login {
    background-color: #1a4848;
    font-size: 2.5vh;
    border: none;
    box-shadow: none;
    font-weight: bold;
    color: white;
  }
  .btn-login:hover {
    cursor: pointer;
  }
  .divider {
    font-size: 2.5vh;
    padding: 10px;
    font-weight: bold;
    color: white;
  }
  .btn-signup {
    background-color: #1a4848;
    font-size: 2.5vh;
    border: none;
    box-shadow: none;
    font-weight: bold;
    color: white;
  }
  .btn-signup:hover {
    cursor: pointer;
  }

  .header {
    max-width: 100%;
    min-width: 768px;
    height: 160px;
    background-color: #ffd500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    display: flex;
    font-size: calc(2vh + 2vw);
    color: black;
    font-weight: bold;
    text-align: center;
    position: fixed;
    left: 38vw;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  .icon-menu {
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    color: black;
    position: fixed;
    left: 1.6vw;
  }
  .btn-menu {
    border: none;
    background-color: #ffd500;
    padding-left: 12px;
    font-size: 30px;
  }
  .icon {
    font-size: 4vh;
    color: black;
    position: relative;
    margin-right: 12px;
  }
  .btn-cart {
    visibility: hidden;
  }
  .btn-wishlist {
    visibility: hidden;
  }
  .btn-profile {
    visibility: hidden;
  }
  .hiddenMenu {
    visibility: hidden;
  }
  .search-section {
    width: 200px;
    margin-top: 10px;
    position: inherit;
  }
  .search-input {
    background-color: #0091b9a4;
    border-radius: 6px;
  }
  .menu {
    position: absolute;
    left: 0px;
    top: 140px;
    width: 200px;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    z-index: 1000;
    overflow-y: auto;
  }
  .background {
    position: fixed;
    top: 140px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: 999; /* Ensure it appears below the menu */
    display: block;
    transition: opacity 0.3s ease;
  }
  .hiddenback {
    opacity: 0;
    pointer-events: none;
  }

  .categoryItem {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 200px;
    background-color: white;
    border: 3px solid #1a4848;
    font-size: 12px;
    text-align: left;
  }
  .translateBtn {
    background-color: #0091b9a4;
    display: flex;
    justify-content: center;
    margin: 0px;
  }
}
/* ***************************************************************************************************************** */
@media only screen and (min-width: 768px) {
  .top {
    display: flex;
    min-width: none;
    min-height: 40px;
    width: calc(1800px - (1800px - 100vw));
    max-width: 100%;
    background-color: #1a4848;
    align-items: center;
  }
  .info-section {
    display: flex;
    max-width: 80vw;
    width: 1200px;
    font-size: 2.5vh;
    max-height: 2.5vh;
    align-items: center;
    align-content: center;
  }
  .text {
    font-size: calc(1vh + 0.5vw);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
  }
  .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 32px;
    position: fixed;
    left: 99%;
    transform: translateX(-99%);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  .btn-login {
    background-color: #1a4848;
    font-size: 2.5vh;
    border: none;
    box-shadow: none;
    font-weight: bold;
    color: white;
  }
  .btn-login:hover {
    cursor: pointer;
  }
  .divider {
    font-size: 2.5vh;
    padding: 10px;
    font-weight: bold;
    color: white;
  }
  .btn-signup {
    background-color: #1a4848;
    font-size: 2.5vh;
    border: none;
    box-shadow: none;
    font-weight: bold;
    color: white;
  }
  .btn-signup:hover {
    cursor: pointer;
  }

  .header {
    max-width: 100%;
    min-width: 768px;
    height: 160px;
    background-color: #ffd500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    display: flex;
    font-size: calc(2vh + 2vw);
    color: black;
    font-weight: bold;
    text-align: center;
    position: fixed;
    left: 40vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
  }
  .title:hover {
    cursor: pointer;
  }
  .icon-menu {
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
    font-size: 30px;
    color: black;
    position: fixed;
    left: 1.6vw;
  }
  .btn-menu {
    border: none;
    background-color: #ffd500;
    padding-left: 32px;
    font-size: 30px;
  }
  .btn-menu:hover {
    cursor: pointer;
  }
  .icon {
    font-size: 4vh;
    color: black;
    position: relative;
    margin-right: 12px;
  }
  .icon-profile {
    font-size: 4vh;
    color: black;
    margin-right: 32px;
    padding: 5px;
    border: solid 4px black;
    border-radius: 100px;
  }
  .con1 {
    display: flex;
    max-width: 2515.625vw;
    min-width: 250px;
    justify-content: space-evenly;
    position: fixed;
    right: 0.625vw;
  }
  .btn-wishlist {
    border: none;
    background-color: #ffd500;
  }
  .btn-cart {
    border: none;
    background-color: #ffd500;
  }
  .btn-profile {
    border: none;
    background-color: #ffd500;
  }
  .btn-profile:hover {
    cursor: pointer;
  }
  .menu {
    position: absolute;
    left: 0px;
    top: 240px;
    width: 350px;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    z-index: 1000;
    overflow-y: auto;
  }
  .hiddenMenu {
    visibility: hidden;
  }
  .background {
    position: fixed;
    top: 240px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: 999; /* Ensure it appears below the menu */
    display: block;
    transition: opacity 0.3s ease;
  }
  .hiddenback {
    opacity: 0;
    pointer-events: none;
  }

  .categoryItem {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 350px;
    background-color: white;
    border: 3px solid #1a4848;
  }
  .categoryItem:hover {
    cursor: pointer;
  }
  .categoryItem:focus {
    background-color: #0091b9a4;
  }
  .react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
      infinite;
  }

  @keyframes blinking-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .translateBtn {
    color: white;
    font-size: 2.5vh;
    text-align: center;
    margin-left: 32px;
  }
  .translateBtn {
    background-color: #0091b9a4;
    display: flex;
    justify-content: center;
    margin: 0px;
  }
}
