@media only screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    background-color: #dcf1f7;
    font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
    padding: 32px;
=======
    width: 100%;
    padding-bottom: 32px;
>>>>>>> 391d1e7 (a)
  }
  .line {
    margin: 0px;
    margin-right: 10px;
  }
  .image-col1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
  }
<<<<<<< HEAD
  .image-thumbnail {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: none;
  }
  .main-image {
    width: 200px;
    height: 100px;
    object-fit: cover;
  }
  .selected {
    border: 2px solid black;
  }
  .image-section {
    display: flex;
    flex-direction: row;
    margin: 12px;
    margin-top: 42px;
=======
  .image-section {
    display: flex;
    flex-direction: row;
    margin: 32px;
  }
  .image-thumbnail {
    background-color: white;
    height: 21vh;
    width: 21vw;
  }
  .main-image {
    background-color: white;
    height: 65vh;
    width: 65vw;
>>>>>>> 391d1e7 (a)
  }
  .information-section {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    margin-top: 20px;
    gap: 10px;
=======
    margin-top: 8px;
    gap: 10px;
    margin-left: 22px;
>>>>>>> 391d1e7 (a)
  }
  .info {
    margin: 0px;
  }
  .size-choice {
<<<<<<< HEAD
    width: 100px;
=======
    width: 180px;
>>>>>>> 391d1e7 (a)
    height: 60px;
    background-color: #dcf1f7;
    border: 3px solid #0091b9;
    padding: 10px;
    border-style: dashed;
    background-color: none;
<<<<<<< HEAD
=======
    font-size: 22px;
>>>>>>> 391d1e7 (a)
  }
  .size-choice:hover {
    cursor: pointer;
  }
  .size-choice:focus {
    background-color: #004e9b57;
    border: 3px solid #004e9b;
    padding: 10px;
    border-style: dashed;
  }
  .con2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
<<<<<<< HEAD
    width: 392px;
    overflow-x: scroll;
  }
  .btn {
    width: 320px;
    height: 60px;
    background-color: #dcf1f7;
    border: 3px solid #0091b9;
    text-align: center;
    border-style: dashed;
  }
  .quantityInput {
    height: 30px;
    font-size: 18px;
    width: 310px;
    border: 3px solid #0091b9;
    border-style: dashed;
  }
=======
    overflow-x: auto;
  }
  .btn {
    display: inline-block;
    height: 60px;
    background-color: #dcf1f7;
    border: 3px dashed #0091b9;
    text-align: center;
    font-size: 22px;
    padding: 10px 20px;
    word-wrap: break-word;
    white-space: nowrap;
  }

>>>>>>> 391d1e7 (a)
  .btn:focus {
    background-color: #004e9b57;
    border: 3px solid #004e9b;
    border-style: dashed;
  }
  .conColor {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
<<<<<<< HEAD
}
=======
  .alert {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 0px;
    margin-left: 0px;
  }
  .quantityInput {
    width: 550px;
    height: 40px;
    background-color: #dcf1f7;
    border: 3px solid #0091b9;
    text-align: center;
    border-style: dashed;
    font-size: 22px;
    margin-bottom: 50px;
  }
  .btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .title {
    padding-top: 12px;
    color: #0091b9;
  }
}
/* **************************************************************************************************************** */
>>>>>>> 391d1e7 (a)
@media only screen and (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: row;
    background-color: #dcf1f7;
    font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
    padding: 32px;
=======
    width: 100%;
    padding-bottom: 32px;
>>>>>>> 391d1e7 (a)
  }
  .line {
    margin: 0px;
    margin-right: 10px;
  }
  .image-col1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
  }
  .image-col1 img {
<<<<<<< HEAD
=======
    background-color: white;
>>>>>>> 391d1e7 (a)
    width: 170px;
    height: 170px;
    cursor: pointer;
    border: none;
  }
<<<<<<< HEAD
  .main-image {
    width: 300px;
    height: 200px;
    object-fit: cover; /* Optional: Keeps the aspect ratio intact */
  }
  .selected {
    border: 2px solid black;
  }
=======
>>>>>>> 391d1e7 (a)
  .image-section {
    display: flex;
    flex-direction: row;
    margin: 32px;
<<<<<<< HEAD
    height: 500px;
=======
  }
  .image-wrapper {
    background-color: white;
    position: relative;
    width: 400px;
    height: 530px;
  }
  .image-thumbnail {
    background-color: white;
  }
  .main-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
>>>>>>> 391d1e7 (a)
  }
  .information-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }
  .info {
    margin: 0px;
  }
  .size-choice {
    width: 180px;
    height: 60px;
    background-color: #dcf1f7;
    border: 3px solid #0091b9;
    padding: 10px;
    border-style: dashed;
    background-color: none;
    font-size: 22px;
  }
  .size-choice:hover {
    cursor: pointer;
  }
  .size-choice:focus {
    background-color: #004e9b57;
    border: 3px solid #004e9b;
    padding: 10px;
    border-style: dashed;
<<<<<<< HEAD
    font-size: 22px;
=======
>>>>>>> 391d1e7 (a)
  }
  .con2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
<<<<<<< HEAD
  }
  .btn {
    width: 620px;
    height: 60px;
    background-color: #dcf1f7;
    border: 3px solid #0091b9;
    text-align: center;
    border-style: dashed;
    font-size: 22px;
  }
=======
    overflow-x: auto;
  }
  .btn {
    display: inline-block;
    height: 60px;
    background-color: #dcf1f7;
    border: 3px dashed #0091b9;
    text-align: center;
    font-size: 22px;
    padding: 10px 20px;
    word-wrap: break-word;
    white-space: nowrap;
  }

>>>>>>> 391d1e7 (a)
  .btn:focus {
    background-color: #004e9b57;
    border: 3px solid #004e9b;
    border-style: dashed;
  }
  .conColor {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
<<<<<<< HEAD
  .quantityInput {
    width: 612px;
=======
  .alert {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 0px;
    margin-left: 0px;
  }
  .quantityInput {
    width: 550px;
>>>>>>> 391d1e7 (a)
    height: 40px;
    background-color: #dcf1f7;
    border: 3px solid #0091b9;
    text-align: center;
    border-style: dashed;
<<<<<<< HEAD
    margin-bottom: 50px;
    font-size: 22px;
=======
    font-size: 22px;
    margin-bottom: 50px;
  }
  .btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .title {
    padding-top: 12px;
    color: #0091b9;
>>>>>>> 391d1e7 (a)
  }
}
