@media only screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    background-color: #dcf1f7;
    font-family: Arial, Helvetica, sans-serif;
    padding: 32px;
  }
  .line {
    margin: 0px;
    margin-right: 10px;
  }
  .image-col1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
  }
  .image-thumbnail {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: none;
  }
  .main-image {
    width: 200px;
    height: 100px;
    object-fit: cover;
  }
  .selected {
    border: 2px solid black;
  }
  .image-section {
    display: flex;
    flex-direction: row;
    margin: 12px;
    margin-top: 42px;
  }
  .information-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }
  .info {
    margin: 0px;
  }
  .size-choice {
    width: 100px;
    height: 60px;
    background-color: #dcf1f7;
    border: 3px solid #0091b9;
    padding: 10px;
    border-style: dashed;
    background-color: none;
  }
  .size-choice:hover {
    cursor: pointer;
  }
  .size-choice:focus {
    background-color: #004e9b57;
    border: 3px solid #004e9b;
    padding: 10px;
    border-style: dashed;
  }
  .con2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 392px;
    overflow-x: scroll;
  }
  .btn {
    width: 320px;
    height: 60px;
    background-color: #dcf1f7;
    border: 3px solid #0091b9;
    text-align: center;
    border-style: dashed;
  }
  .quantityInput {
    height: 30px;
    font-size: 18px;
    width: 310px;
    border: 3px solid #0091b9;
    border-style: dashed;
  }
  .btn:focus {
    background-color: #004e9b57;
    border: 3px solid #004e9b;
    border-style: dashed;
  }
  .conColor {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: row;
    background-color: #dcf1f7;
    font-family: Arial, Helvetica, sans-serif;
    padding: 32px;
  }
  .line {
    margin: 0px;
    margin-right: 10px;
  }
  .image-col1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
  }
  .image-col1 img {
    width: 106px;
    height: 106px;
    cursor: pointer;
    border: none;
  }
  .main-image {
    width: 300px;
    height: 200px;
    object-fit: cover; /* Optional: Keeps the aspect ratio intact */
  }
  .selected {
    border: 2px solid black;
  }
  .image-section {
    display: flex;
    flex-direction: row;
    margin: 32px;
    height: 500px;
  }
  .information-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }
  .info {
    margin: 0px;
  }
  .size-choice {
    width: 180px;
    height: 60px;
    background-color: #dcf1f7;
    border: 3px solid #0091b9;
    padding: 10px;
    border-style: dashed;
    background-color: none;
  }
  .size-choice:hover {
    cursor: pointer;
  }
  .size-choice:focus {
    background-color: #004e9b57;
    border: 3px solid #004e9b;
    padding: 10px;
    border-style: dashed;
  }
  .con2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .btn {
    width: 620px;
    height: 60px;
    background-color: #dcf1f7;
    border: 3px solid #0091b9;
    text-align: center;
    border-style: dashed;
  }
  .btn:focus {
    background-color: #004e9b57;
    border: 3px solid #004e9b;
    border-style: dashed;
  }
  .conColor {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
