.top {
  height: 50px;
  width: 1800px;
  background-color: #807d73;
  display: flex;
  justify-content: end;
  align-items: center;
}
.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 32px;
}
.btn-login {
  background-color: #807d73;
  font-size: 22px;
  border: none;
  box-shadow: none;
  font-weight: bold;
}
.btn-login:hover {
  cursor: pointer;
}
.divider {
  font-size: 22px;
  padding: 10px;
  font-weight: bold;
}
.btn-signup {
  background-color: #807d73;
  font-size: 22px;
  border: none;
  box-shadow: none;
  font-weight: bold;
}
.btn-signup:hover {
  cursor: pointer;
}

.header {
  height: 180px;
  width: 1800px;
  background-color: #ffd500;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  display: flex;
  font-size: 50px;
  color: black;
  font-weight: bold;
}
.title:hover {
  cursor: pointer;
}
.icon-menu {
  padding-left: 32px;
  font-size: 40px;
  color: black;
}
.btn-menu {
  border: none;
  background-color: #ffd500;
}
.btn-menu:hover {
  cursor: pointer;
}
.icon {
  font-size: 40px;
  color: black;
}
.icon-profile {
  font-size: 40px;
  color: black;
  margin-right: 32px;
  padding: 5px;
  border: solid 4px black;
  border-radius: 100px;
}
.con1 {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.btn-search {
  border: none;
  background-color: #ffd500;
}
.btn-search:hover {
  cursor: pointer;
}
.btn-wishlist {
  border: none;
  background-color: #ffd500;
}
.btn-wishlist:hover {
  cursor: pointer;
}
.btn-cart {
  border: none;
  background-color: #ffd500;
}
.btn-cart:hover {
  cursor: pointer;
}
.btn-profile {
  border: none;
  background-color: #ffd500;
}
.btn-profile:hover {
  cursor: pointer;
}
.space1 {
  width: 700px;
}
.space2 {
  width: 420px;
}
