@media only screen and (max-width: 768px) {
  .carousel-section {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .contentStyle {
    height: 200px;
    width: 80%;
    color: #fff;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    border-radius: 30px;
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .carousel-section {
    height: 550px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contentStyle {
    height: 500px;
    width: 60%;
    color: #fff;
    line-height: 500px;
    font-size: 50px;
    text-align: center;
    border-radius: 30px;
    margin: auto;
  }
}
